body {
  background-color: #000;
  overflow-x: hidden;
  overflow-y: hidden;
  user-select: none;
  margin: 0;
  padding: 0;
}

#p5-0,
#p5-1,
#p5-2 {
  position: absolute;
  top: 0;
  left: 0;
}

#p5-1 {
  opacity: 0.5;
  mix-blend-mode: multiply;
}

#p5-2 {
  opacity: 0.5;
  mix-blend-mode: overlay;
}
